* {
    margin:0;
}

/* ------- NAV ---------*/
header .menu-nav {
    box-shadow: 0px 7px 18px -9px rgba(126,96,191,0.75);
    height: 50px;
}

header .menu-nav ul {
    display:none;
}

header .contenedor-icono #icono {
    font-size:40px;
    color:#7E60BF;
    padding:5px;
}



/* ------- HERO ------- */

#hero-hola {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:30px;
}

#contenedor-titulos {
    width:80vw;
    height:450px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#hero-hola #contenedor-titulos h1 {
    color:#404040;
    font-family: rowdies;
    font-size:25px;
    text-align:center;
    margin:0;
}

#hero-hola #contenedor-titulos h2 {
    color:#7E60BF;
    font-family:rowdies;
    font-size:50px;
    text-align:center;
    margin:0;
}

#hero-hola #contenedor-titulos h3 {
    color:#7E60BF;
    text-align:center;
    font-family:share tech mono;
    font-size:20px;
    margin-top:10px;
}

#imagen-hero {
    position:relative;
}

#imagen-hero img {
    margin-bottom: 50px;
    height:300px;
    border-radius:200px;
    position:relative;
    z-index:99;
}

#imagen-hero .circulo-violeta {
    background-color:#7E60BF;
    height:300px;
    width:300px;
    border-radius:300px;
    position:absolute;
    top:-10px;
    left:-5px;
}

#imagen-hero .datos {
    font-family:chakra petch;
    font-size:12px;
    color:white;
    background-color:#7E60BF;
    padding:10px;
    border-radius:10px;
    position:absolute;
    top:200px;
    left:-5px;
    z-index:100;
}

#imagen-hero .mail {
    font-family:chakra petch;
    font-size:12px;
    color:white;
    background-color:#7E60BF;
    padding:10px;
    border-radius:10px;
    position:absolute;
    top:260px;
    left:25px;
    z-index:100;
}



/* ------- PRESENTACION ------- */


#contenedor-presentacion h2 {
    font-size:40px;
    color:#7E60BF;
    font-family:rowdies;
    text-align:center;

}

#texto-presentacion {
    width:100vw;
    padding:20px 0;
    background: linear-gradient(61deg, rgba(67,56,120,1) 1%, rgba(126,96,191,0.8631827731092436) 69%, rgba(255,225,255,1) 100%);
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

#contenedor-presentacion #texto-presentacion p {
    width:80vw;
    font-family: gruppo;
    color:white;
    padding: 10px 0;
}



/* ----- HABILIDADES -------*/

#habilidades {
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#habilidades h2 {
    font-family:rowdies;
    font-size:30px;
    margin:20px;
    color:#7E60BF;
}

.contenedor-logos {
    width:95vw;
    height:450px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

.contenedor-logos img {
    width:75px;
}

.logo {
    width:25vw;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}

#habilidades .contenedor-logos .logo p {
    font-family: share tech mono;
    text-align:center;
}

#habilidades .contenedor-blandas {
    width:100vw;
    height:350px;
    padding: 20px 0;
    background: linear-gradient(61deg, rgba(67,56,120,1) 1%, rgba(126,96,191,0.8631827731092436) 49%, rgba(255,225,255,1) 100%);
    color:#FFE1FF;
    font-family:share tech mono;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.contenedor-blandas .blanda {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    height:50px;
    padding-left:15px;
}

.blanda .barra-contenedora {
    width:200px;
    height:20px;
    border:1px solid #FFE1FF;
    border-radius:8px;
}

.blanda .barra-contenedora .barra-foto {
    border-radius:8px;
    height:20px;
    width:160px;
    background: linear-gradient(36deg, rgba(126,96,191,0.8631827731092436) 0%, rgba(255,225,255,1) 100%);
}

.blanda .barra-contenedora .barra-ingles {
    border-radius:8px;
    height:20px;
    width:120px;
    background: linear-gradient(36deg, rgba(126,96,191,0.8631827731092436) 0%, rgba(255,225,255,1) 100%);
}

.blanda .barra-contenedora .barra-video {
    border-radius:8px;
    height:20px;
    width:100px;
    background: linear-gradient(36deg, rgba(126,96,191,0.8631827731092436) 0%, rgba(255,225,255,1) 100%);
}

.blanda .barra-contenedora .barra-disenio {
    border-radius:8px;
    height:20px;
    width:90px;
    background: linear-gradient(36deg, rgba(126,96,191,0.8631827731092436) 0%, rgba(255,225,255,1) 100%);
}

.blanda .barra-contenedora .barra-programacion {
    border-radius:8px;
    height:20px;
    width:40px;
    background: linear-gradient(36deg, rgba(126,96,191,0.8631827731092436) 0%, rgba(255,225,255,1) 100%);
}



/* ----------- CITA --------------*/

#cita {
    width:95vw;
    padding-bottom:20px;
}

#cita h2 {
    font-family:rowdies;
    font-size:80px;
    color:#7E60BF;
    text-align:center;
    margin-top:20px;
}

#cita p {
    font-family:share tech mono;
    font-size:40px;
    padding-bottom: 30px;
    text-align:center;
    color:#7E60BF;
}

#cita h3 {
    font-family:jura;
    font-size:27px;
    text-align:right;
    color:#433878;
}



/* ----------- PROYECTOS --------------*/

#proyectos {
    height:450px;
    display:flex;
    flex-direction:column;
    align-items:space-around;
    padding-bottom:40px;
}

#proyectos .contenedor-proyectos {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
}

#proyectos h3 {
    font-family:rowdies;
    font-size:30px;
    text-align:center;
    padding: 15px 0;
    background: linear-gradient(61deg, rgba(126,96,191,0.8631827731092436) 29%, rgba(255,225,255,1) 100%);
    color:#FFE1FF;
}

#proyectos p {
    font-family:chakra petch;
    color:#7E60BF;
    text-align:center;
    padding:30px 0;
}

#proyectos .proyecto {
    box-shadow: 0px 0px 35px -5px rgba(126,96,191,0.43);
    border-radius:7px;
    width:160px;
    height:260px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}

.contenedor-proyectos .proyecto img {
    border-radius:5px;
}


#proyectos .proyecto h2 {
    width:70%;
    font-family:share tech mono;
    font-size:12px;
    text-align:center;
    color:#7E60BF;
}


#proyectos .proyecto button {
    background-color:#7E60BF;
    font-family: share tech mono;
    font-size:12px;
    color:#FFE1FF;
    padding:8px 30px;
    border:0;
    border-radius:5px;
}



/* ---------- FORMULARIOS ------------ */

#form-contacto {
    color:#FFE1FF;
    font-family:chakra petch;
    width:100vw;
    height:500px;
    padding: 15px 0;
    background: linear-gradient(227deg, rgba(126,96,191,0.8631827731092436) 29%, rgba(255,225,255,1) 100%);
    display:flex;
    flex-direction:column;
    align-items:center;
}

#form-contacto .contenedor-texto {
    width:90vw;
    height:130px;
    padding-bottom:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

#form-contacto .contenedor-texto h3 {
    font-family:rowdies;
    font-size:30px;
    text-align:center;
}

#form-contacto .contenedor-texto p {
    text-align:center;
}

#form-contacto .campo {
    height:50px;
    width:300px;
    display:flex;
    flex-direction:column;
}

#form-contacto .campo input {
    border: none;
    border-radius:4px;
    padding:5px;
}

#form-contacto .campo-consulta {
    width:300px;
    display:flex;
    flex-direction:column;
}

#form-contacto textarea {
    height:100px;
    border:none;
    border-radius:4px;
    resize:none;
    padding:5px;
}

#form-contacto button {
    font-family: share tech mono;
    color:#FFE1FF;
    width:60%;
    padding:10px;
    margin-top:20px;
    background-color:#7E60BF;
    border:0;
    border-radius:5px;
}



/* ---------- FOOTER ------------ */

footer {
    background-color: #7E60BF;
    padding: 30px 0;
    display:flex;
    flex-direction:column;
    align-items:center;
}

footer .rrss {
    height:150px;
    width:70vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
}

footer .rrss h3 {
    font-size:30px;
    font-family:rowdies;
    color:#FFE1FF;
}

footer .rrss .contenedor-links {
    height:50px;
    width:75%;
    display:flex;
    justify-content:space-around;
}

footer .rrss .contenedor-links a {
    color:#433878;
    font-size:30px;
    text-decoration:none;
}

footer p {
    font-family: chakra petch;
    color:#FFE1FF;
}

footer .menu-nav ul {
    display:none;
}






/*-------------------------------   QUERYS  ---------------------------------------*/



@media (min-width:768px) {

/*-------------- NAV --------------*/    
  

    header .menu-nav ul {
        display:flex;
        list-style:none;
        padding:15px;
    }
    
    header .menu-nav ul li {
        display:inline-block;
    }

    
    header .menu-nav ul li a {
        font-family: share tech mono;
        color:#7E60BF;
        text-decoration:none;
        margin:10px;
    }


    header .contenedor-icono {
        display:none;
    }



/*-------------- HERO --------------*/ 

    #hero-hola {
        height:350px;
        flex-direction:row;
        justify-content:space-around;
        margin:50px 0;
    }
    
    #contenedor-titulos {
        width:50vw;
        height:300px;
    }



/*-------------- HABILIDADES --------------*/   

#habilidades .contenedor-blandas {
    height:150px;
    padding: 20px 0;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content:center;
}


/*-------------- FORMULARIO --------------*/

#form-contacto button {
    width:40%;
}

/*-------------- FOOTER --------------*/

footer .menu-nav ul {
    display:flex;
    list-style:none;
    padding:15px;
}

footer .menu-nav ul li {
    display:inline-block;
}

footer .menu-nav ul li a {
    font-family: share tech mono;
    color:#FFE1FF;
    text-decoration:none;
    margin:10px;
}

footer .rrss {
    width:30vw;
}

}



@media (min-width:1024px) {

/*-------------- HERO --------------*/ 

    #hero-hola {
        height:500px;
    }

    #imagen-hero img {
        height:350px;
    }

    #imagen-hero {
        position:relative;
    }
    
    
    #imagen-hero .circulo-violeta {
        height:350px;
        width:350px;
    }
    


/*-------------- PRESENTACION --------------*/ 

    #contenedor-presentacion #texto-presentacion p {
        font-size:20px;
    }

/*-------------- HABILIDADES --------------*/   

.contenedor-logos {
    justify-content:center;
}

#habilidades .contenedor-blandas {
    justify-content:center;
}

/*-------------- FORMULARIO --------------*/ 

#form-contacto button {
    width:30%;
}

}



@media (min-width:1440px) {
/*-------------- HABILIDADES --------------*/   

    #habilidades .contenedor-blandas {
        justify-content:center;
    }

    .contenedor-blandas .blanda {
        padding:0 30px;
    }

/*-------------- FORMULARIO --------------*/  

    #form-contacto button {
        width:20%;
    }
}




